<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-left mt-30">
                <div class="mail hover-target">
                    <a href="mailto:adel.sanaa@mmibordeaux.com">adel.sanaa@mmibordeaux.com</a>
                </div>
            </div>
            <div class="col-md-4 text-center mt-30">
                <div class="logo-foot">
                    <img src="img/logo.svg" alt="">
                </div>
            </div>
            <div class="col-md-4 text-center text-md-right mt-30">
                <div class="sosmed">
                    <ul>
                        <li class="hover-target"><a href="https://dribbble.com/Kodypistol" target="_blank">Dribbble.</a></li>
                        <li class="hover-target"><a href="https://linkedin.com/in/adelsanaa" target="_blank">Linkedin.</a></li>
                        <li class="hover-target"><a href="https://instagram.com/kodypistol" target="_blank">Instagram.</a></li>
                        <li class="hover-target"><a href="https://github.com/kodypistol" target="_blank">Github.</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>Kody &copy;2021. All Rights Reserved</p>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="cursor1" id="cursor1"></div>
<div class="cursor" id="cursor"></div>

<script src="/js/plugin.js"></script>
<script src="/js/main.js"></script>
</body>

</html>
