<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/roundFavIcon.png">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>

  <!-- Start Preload -->
  <div class="preloader">
  </div>
  <div class="block-1"></div>
  <div class="block-2"></div>
  <div class="logo-load">
    <img src="/img/logo.svg" alt="">
  </div>
  <div class="logo-load spinning"></div>
  <div class="over-all"></div>
  <!-- End Preload -->

  <!-- Start Header -->
  <header>

    <nav>
      <!-- Logo -->
      <div class="logo hover-target">
        <a class="load-spiral" href="/fr/home"><img src="/img/logo.svg" alt="logo"></a>
      </div>
      <!-- Menu bar -->
      <div class="toggle-btn magnetic hover-target">
        <div class="burger-menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="tre"></span>
        </div>
      </div>
      <!-- Social -->
      <div class="scr socials">
        <div class="list-social">
          <ul>
            <li class="hover-target"><a href="https://dribbble.com/Kodypistol" target="_blank">Db.</a></li>
            <li class="hover-target"><a href="https://linkedin.com/in/adelsanaa" target="_blank">Lkd.</a></li>
            <li class="hover-target"><a href="https://instagram.com/kodypistol" target="_blank">Ig.</a></li>
            <li class="hover-target"><a href="https://github.com/kodypistol" target="_blank">Gth.</a></li>
          </ul>
        </div>
      </div>

      <!-- Copyright -->
      <div class="scr copyright-top">
        <p>Kody &copy; 2021</p>

      </div>

      <div class="scr socials">
        <div class="left-socials">
          <ul>
            <li class="hover-target"><a href="/">en</a></li>
            <li class="hover-target"><a>-</a></li>
            <li class="hover-target"><a href="/fr">fr</a></li>
          </ul>
        </div>
      </div>

      <div class="bg-nav"></div>

      <!-- menu -->
      <div class="manu-container">
        <div class="menu">
          <div class="data">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="links text-center text-lg-left">
                    <ul>
                      <li>
                        <p>01</p><a class="menu-link hover-target load-spiral" href="/fr/">Home</a>
                      </li>
                      <li>
                        <p>02</p><a class="menu-link hover-target load-spiral" href="/fr/bigprojets">Big projets™</a>
                      </li>
                      <li>
                        <p>03</p><a class="menu-link hover-target load-spiral" href="/fr/about">À propos</a>
                      </li>
                      <li>
                        <p>04</p><a class="menu-link hover-target load-spiral" href="/fr/contact">Me contacter</a>
                      </li>
                    </ul>
                  </div>

                </div>

                <div class="col-md-4 offset-md-2 centered text-right">
                  <div class="address-menu">

                    <h3>Adel SANAA.</h3>
                    <h4>Futur Creative Developer.
                      Je prétends vouloir devenir l'un des meilleurs développeur au monde,
                      pour l'instant, j'apprend l'HTML, le CSS et le Javascript.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </nav>


  </header>
  <!-- End Header -->
