<%- include("../partials/header.ejs"); -%>

    <!-- Start Content -->
    <div id="spiral">



        <div id="headmove">

        </div>

        <div class="blog between mt-200">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title text-center">

                            <h2>BIG PROJETS™<span>/video</span></h2>
                        </div>
                    </div>
                </div>

                <div class="row mt-10">

                    <div class="col-md-6 mt-40">
                        <div class="blog-item">
                            <a class="cursorExplore load-spiral" href="/en/bigprojets-video/adidas">
                                <div class="blog-img">
                                    <img class="img-fluid" src="/img/bigprojets-video/battlefreestyle.png" alt="Miniature vidéo.">
                                </div>
                                <div class="blog-text">
                                    <h3>BATTLE DE RAP FREESTYLE #3</h3>
                                    <div class="categories">
                                      <p class="p-category">Category:</p>
                                      <ul class="ul-category">
                                        <li class="li-category">Framing</li>
                                      </ul>
                                    </div>
                                    <p>Framed the "BATTLE DE RAP FREESTYLE #3" video from Lonni, a french youtuber (+1M subs). Video made with Lonni and in partnership with Adidas.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 mt-40">
                        <div class="blog-item">
                            <a class="cursorExplore load-spiral" href="/en/bigprojets-video/pas-de-love">
                                <div class="blog-img">
                                    <img class="img-fluid" src="/img/bigprojets-video/pasdelove.png" alt="Miniature vidéo">
                                </div>
                                <div class="blog-text">
                                    <h3>JS - Pas de love</h3>
                                    <div class="categories">
                                      <p class="p-category">Category:</p>
                                      <ul class="ul-category">
                                        <li class="li-category">Directing - </li>
                                        <li class="li-category">Producing - </li>
                                        <li class="li-category">Art Direction</li>
                                      </ul>
                                    </div>
                                    <p>Entirely directed by me and my team "Serenade Corporation". Worked for the french rapper & youtuber "JS ZNM".</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 mt-40">
                        <div class="blog-item">
                            <a class="cursorExplore load-spiral" href="/en/bigprojets-video/dans-le-complot">
                                <div class="blog-img">
                                    <img class="img-fluid" src="/img/bigprojets-video/danslecomplot.png" alt="Miniature">
                                </div>
                                <div class="blog-text">
                                    <h3>Lonni - Dans le complot</h3>
                                    <div class="categories">
                                      <p class="p-category">Category:</p>
                                      <ul class="ul-category">
                                        <li class="li-category">Directing - </li>
                                        <li class="li-category">Producing - </li>
                                        <li class="li-category">Art Direction</li>
                                      </ul>
                                    </div>
                                    <p>Music video for the french Youtuber Lonni (+1M subs).</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 mt-40">
                        <div class="blog-item">
                            <a class="cursorExplore load-spiral" href="/en/bigprojets-video/cauchemar">
                                <div class="blog-img">
                                    <img class="img-fluid" src="/img/bigprojets-video/cauchemar.png" alt="Miniature">
                                </div>
                                <div class="blog-text">
                                    <h3>SCAR - CAUCHEMAR</h3>
                                    <div class="categories">
                                      <p class="p-category">Category:</p>
                                      <ul class="ul-category">
                                        <li class="li-category">Lead Web-Design (UX & UI) - </li>
                                        <li class="li-category">Art Direction - </li>
                                        <li class="li-category">Script Writing</li>
                                      </ul>
                                    </div>
                                    <p>Music video for a french rapper. Made the entire visual art direction.
                                    Directed & producted by me.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>


            </div>
        </div>

<%- include("../partials/footer.ejs"); -%>
