<%- include("../partials/header.ejs"); -%>

    <!-- Start Content -->
    <div id="spiral">



        <div id="headmove">

        </div>

        <div class="blog between mt-200">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title text-center">

                            <h2>BIG PROJETS™<span>/web</span></h2>
                        </div>
                    </div>
                </div>

                <div class="row mt-10">

                    <div class="col-md-6 mt-40">
                        <div class="blog-item">
                            <a class="cursorExplore load-spiral" href="/en/bigprojets-web/makyma">
                                <div class="blog-img">
                                    <img class="img-fluid" src="/img/blog/makyma.png" alt="Logo du projet écoresponsable Makyma.">
                                </div>
                                <div class="blog-text">
                                    <h3>Makyma</h3>
                                    <div class="categories">
                                      <p class="p-category">Category:</p>
                                      <ul class="ul-category">
                                        <li class="li-category">Web-Design (UX & UI) - </li>
                                        <li class="li-category">Art Direction - </li>
                                        <li class="li-category">Communication</li>
                                      </ul>
                                    </div>
                                    <p>Frustrations, reflections and ideas on how to optimize our design and development
                                        processes through web UI tools.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 mt-40">
                        <div class="blog-item">
                            <a class="cursorExplore load-spiral" href="/en/bigprojets-web/speed-moto-services">
                                <div class="blog-img">
                                    <img class="img-fluid" src="/img/blog/speedmotoservices.png" alt="Logo de l'entreprise de motos Speed Moto Services">
                                </div>
                                <div class="blog-text">
                                    <h3>Speed Moto Services</h3>
                                    <div class="categories">
                                      <p class="p-category">Category:</p>
                                      <ul class="ul-category">
                                        <li class="li-category">Web-Design (UX & UI) - </li>
                                        <li class="li-category">Art Direction - </li>
                                        <li class="li-category">Coding (HTML, CSS, JS)</li>
                                      </ul>
                                    </div>
                                    <p>Frustrations, reflections and ideas on how to optimize our design and development
                                        processes through web UI tools.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 mt-40">
                        <div class="blog-item">
                            <a class="cursorExplore load-spiral" href="/en/bigprojets-web/l-ecopin">
                                <div class="blog-img">
                                    <img class="img-fluid" src="/img/blog/lecopin.png" alt="Logo du projet écoresponsable L'Écopin.">
                                </div>
                                <div class="blog-text">
                                    <h3>L'Écopin</h3>
                                    <div class="categories">
                                      <p class="p-category">Category:</p>
                                      <ul class="ul-category">
                                        <li class="li-category">Web-Design (UX & UI) - </li>
                                        <li class="li-category">Art Direction - </li>
                                        <li class="li-category">Script Writing</li>
                                      </ul>
                                    </div>
                                    <p>Frustrations, reflections and ideas on how to optimize our design and development
                                        processes through web UI tools.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 mt-40">
                        <div class="blog-item">
                            <a class="cursorExplore load-spiral" href="/en/bigprojets-web/culture-campus">
                                <div class="blog-img">
                                    <img class="img-fluid" src="/img/blog/culturecampus.png" alt="Logo du projet écoresponsable L'Écopin.">
                                </div>
                                <div class="blog-text">
                                    <h3>Culture Campus</h3>
                                    <div class="categories">
                                      <p class="p-category">Category:</p>
                                      <ul class="ul-category">
                                        <li class="li-category">Lead Web-Design (UX & UI) - </li>
                                        <li class="li-category">Art Direction - </li>
                                        <li class="li-category">Script Writing</li>
                                      </ul>
                                    </div>
                                    <p>Frustrations, reflections and ideas on how to optimize our design and development
                                        processes through web UI tools.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>


            </div>
        </div>

<%- include("../partials/footer.ejs"); -%>
