<%- include ("../partials/header.ejs"); -%>
    <!-- Start Content -->
    <div id="spiral">

        <!-- Header -->
        <div class="scrolls">
            <img draggable="false" src="/img/sroll.svg" alt="scroll">
        </div>
        <div class="main-head luxy-el" data-speed-y="15" data-offset="0">
            <div id="headmove">
                <div data-depth="0.4">
                    <div id="cauchemar" class="bg-detail-work-pasdelove"></div>
                </div>
            </div>

            <div class="heading-text">
                <div class="heading-text-front">
                    <h1 class="title">SCAR - CAUCHEMAR</h1>
                </div>
                <div class="heading-text-back">
                    <h1 class="title">SCAR - CAUCHEMAR</h1>
                </div>
            </div>
        </div>

        <section class="detail-work bg-darks">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 mt-30">
                        <div class="about-work text-center">
                            <h3>Client</h3>
                            <p>SCAR</p>
                            <p>Paris, France</p>
                        </div>
                    </div>
                    <div class="col-md-4 mt-30">
                        <div class="about-work text-center">
                            <h3>Year</h3>
                            <p>2021</p>
                        </div>
                    </div>
                    <div class="col-md-4 mt-30">
                        <div class="about-work text-center">
                            <h3>Service</h3>
                            <p>Directing</p>
                            <p>Producing</p>
                            <p>Art Direction</p>
                        </div>
                    </div>

                </div>

                <div class="row mt-30">
                    <div class="col-md-6 mt-30">
                        <div class="img-detail-work cursorZoom">
                            <img class="cover img-fluid medium-zoom-image" src="/img/cauchemar-work/img1-cauchemar.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 mt-30">
                        <div class="img-detail-work cursorZoom">
                            <img class="cover img-fluid medium-zoom-image" src="/img/cauchemar-work/img2-cauchemar.png" alt="">
                        </div>
                    </div>

                </div>

                <div class="row about-work mt-50">
                    <div class="col-md-3">
                        <h3>Detail</h3>
                    </div>
                    <div class="col-md-8">
                        <p> we worked with the french rapper <a class="ytb-link" href="https://www.youtube.com/channel/UCt6JSbhMrBxMzMUcrJ7f1Tw" target="_blank">SCAR</a>.</p>
                        <div class="mt-10"></div>
                        <a class="hover-target" href="https://www.youtube.com/watch?v=7C05ScNYmgo"
                            target="_blank">see detail</a>
                    </div>
                </div>

                <div class="row mt-20">
                    <div class="col-md-12 mt-30">
                        <div class="img-detail-work cursorZoom">
                            <img class="cover img-fluid medium-zoom-image" src="/img/cauchemar-work/cauchemar-thumbnail.png" alt="">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <a href="https://www.youtube.com/watch?v=7C05ScNYmgo" class="next-project centered text-center load-spiral">
                            <div class="col-md-12">
                                <p>See the project</p>
                            <h3>SCAR - CAUCHEMAR</h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>

<%- include ("../partials/footer.ejs"); -%>
