<%- include("../partials/header.ejs"); -%>

    <!-- Start Content -->
    <div id="spiral">

        <!-- Header -->
            <div id="headmove">
                <div data-depth="0.2">
                    <div class="bg-right"></div>
                </div>
            </div>

        <!-- Portfolio -->

        <section class="folio-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title text-center mt-100">

                            <h2>"BIG PROJETS™ ?" <span>WHAT IS THAT ?</span></h2>
                        </div>
                    </div>

                    <div class="col-lg-5 bigprojetscallout">
                        <div class="abt-text">
                            <p>This is all of the projects that I've made and I'm proud of.
                            <br>It's all the awesome experience that I lived until now.
                            <br>You can discover all of that by clicking on what is interesting you.</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="folio-item">
                            <div class="img-folio cursorExplore">
                                <a class="load-spiral" href="/en/bigprojets-web">
                                    <img class="img-fluid" src="../img/bigprojets-web.jpg" draggable="false" alt="Rectangle comprenant le logo Big Projets et la qualification web">

                                </a>
                            </div>
                            <a class="load-spiral" href="en/bigprojets-web">
                            <div class="text-folio text-center">
                                <h2 class="text-1">MY <span>WEB</span> PROJECTS</h2>
                                <h2 class="text-2">MY <span>WEB</span> PROJECTS</h2>
                            </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="folio-item">

                            <div class="img-folio cursorExplore">
                                <a class="load-spiral" href="/en/bigprojets-video">
                                    <img class="img-fluid" src="../img/bigprojets-video.jpg" draggable="false" alt="Rectangle comprenant le logo Big Projets et la qualification vidéo">
                                </a>
                            </div>
                            <a class="load-spiral" href="en/bigprojets-video">
                            <div class="text-folio text-center">
                                <h2 class="text-1">MY <span>VIDEO</span> PROJECTS</h2>
                                <h2 class="text-2">MY <span>VIDEO</span> PROJECTS</h2>
                            </div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="en/contact" class="next-project centered text-center load-spiral">
                            <div class="col-md-12">
                                <p>Contact me:</p>
                                <h3>CONTACT</h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>

<%- include("../partials/footer.ejs"); -%>
